*, ::after, ::before { box-sizing: border-box; }

body {
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}


/*Mobil first*/

header {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(images/island-hlavicka.jpg);
    background-size: cover;
    color: seashell;
    margin: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;
}

header p {
    text-align: center;
    font-size: 0.6rem;
    padding: 1rem;
}

.object1 {
    background-color: gainsboro;
    height: 2px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.jana {
    color: gainsboro;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding: 1rem 0 1rem 0;
}

.navigation {
    text-decoration: none;
    color: #9E9E9E;
}

li {
    border-bottom: 1px solid gainsboro;
    padding: 0.25rem 0 0.25rem 0;
    margin: 0 1.5rem 0 1.5rem;
}

p {
    font-size: 0.6rem;
    padding: 0 1rem 0 1rem;
}

.part1,
.part2,
.part3,
.part4 {
    padding-bottom: 1.5rem;
}

.part4 {
    padding-top: 1.5rem;
}

img {
    width: 100%;
    height: auto;
}

.credit {
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 1rem 1rem 0 1rem;
}

.credit,
.credit > a {
    color: #9E9E9E;
}

.object2 {
    background-color: #629edb;
    height: 3px;
    width: 50px;
    margin: 1rem 0 1.5rem 0;
}

.previews p {
    font-family: 'Raleway', sans-serif;
    color: grey;
    margin-top: 0;
    text-align: center;
    padding-bottom: 0.5rem;
}

.previews a {
    color: #9E9E9E;
    font-weight: 400;
}

.gallery {
    box-shadow: 1px 12px 15px -3px rgba(201,201,201,1);
}

footer {
    margin: 0;
    color: grey;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

footer p {
    margin: 0;
    font-size: 0.5rem;
}

footer a {
    color: grey;
}

.moyan {
    padding-top: 0.5rem;
}

.previews > img {
    transition: all .2s ease-in-out;
}

.previews > img:hover {
    transform: scale(1.1);
    width: 100%;
    height: auto;
}

